<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Article list</title>
</head>
<body>
    {% if object_list %}
        Artykuły:
        {% for a in object_list %}
            <br>
            {% url 'article_detail' pk=a.id as detail_url %}
            <b> <a href='{{ detail_url }}'>{{ a.title }}</a> </b> ({{ a.date_published }})
        {% endfor %}
    {% else %}
        Brak artykułów
    {% endif %}
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}"> <<< </a>
                {% endif %}
                <span class="page-current">
                    Strona {{ page_obj.number }} z {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}"> >>> </a>
                {% endif %}
            </span>
        </div>
    {% endif %}
</body>
</html>